/* font-family: "ProximaNovaRegular"; */
@font-face {
    font-family: "ProximaNovaRegular";
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot");
    src: url("fonts/ProximaNovaRegular/ProximaNovaRegular.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.woff") format("woff"),
    url("fonts/ProximaNovaRegular/ProximaNovaRegular.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBold"; */
@font-face {
    font-family: "ProximaNovaBold";
    src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot");
    src: url("fonts/ProximaNovaBold/ProximaNovaBold.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaBold/ProximaNovaBold.woff") format("woff"),
    url("fonts/ProximaNovaBold/ProximaNovaBold.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}
/* font-family: "ProximaNovaBlack"; */
@font-face {
    font-family: "ProximaNovaBlack";
    src: url("fonts/ProximaNovaBlack/ProximaNovaBlack.eot");
    src: url("fonts/ProximaNovaBlack/ProximaNovaBlack.eot?#iefix")format("embedded-opentype"),
    url("fonts/ProximaNovaBlack/ProximaNovaBlack.woff") format("woff"),
    url("fonts/ProximaNovaBlack/ProximaNovaBlack.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}



/*
 * Cinzel - Book Sputnik, h3
*/

@font-face {
    font-family: 'CinzelRegular';
    src: url('fonts/cinzel/Cinzel-Regular.eot');
    src: url('fonts/cinzel/Cinzel-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/cinzel/Cinzel-Regular.woff') format('woff'),
    url('fonts/cinzel/Cinzel-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'CinzelBold';
    src: url('fonts/cinzel/Cinzel-Bold.eot');
    src: url('fonts/cinzel/Cinzel-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/cinzel/Cinzel-Bold.woff') format('woff'),
    url('fonts/cinzel/Cinzel-Bold.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*
 * Uni Sans Caps - надпись в слайдере, заголовки
*/

@font-face {
    font-family: 'UniSansThin';
    src: url('fonts/unisans/Uni-Sans-Thin.otf');
    font-weight: normal;
}


@font-face {
    font-family: 'UniSansThinItalic';
    src: url('fonts/unisans/Uni-Sans-Thin-Italic.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'UniSansHeavy';
    src: url('fonts/unisans/Uni-Sans-Heavy.otf');
    font-weight: normal;
}

@font-face {
    font-family: 'UniSansHeavyItalic';
    src: url('fonts/unisans/Uni-Sans-Heavy-Italic.otf');
    font-weight: normal;
}



/*
 * gentium - дополнительные надписи
*/

@font-face {
    font-family: 'GentiumPlus-i';
    src: url('fonts/gentium/gentiumplus-i.eot');
    src: url('fonts/gentium/gentiumplus-i.eot?#iefix') format('embedded-opentype'),
    url('fonts/gentium/gentiumplus-i.woff') format('woff'),
    url('fonts/gentium/gentiumplus-i.ttf') format('truetype');
    font-weight: normal;
}


@font-face {
    font-family: 'GentiumPlus-r';
    src: url('fonts/gentium/gentiumplus-r.eot');
    src: url('fonts/gentium/gentiumplus-r.eot?#iefix') format('embedded-opentype'),
    url('fonts/gentium/gentiumplus-r.woff') format('woff'),
    url('fonts/gentium/gentiumplus-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*
 * MuseoCyr - h2, h3, h4
*/

@font-face {
    font-family: 'MuseoCyr';
    src: url('fonts/museocyr/museo_cyrillic_500.eot');
    src: url('fonts/museocyr/museo_cyrillic_500.eot?#iefix') format('embedded-opentype'),
    url('fonts/museocyr/museo_cyrillic_500.woff') format('woff'),
    url('fonts/museocyr/museo_cyrillic_500.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}


/*
 * Roboto - основной текст
*/


@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/roboto/roboto-regular.eot');
    src: url('fonts/roboto/roboto-regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-regular.woff') format('woff'),
    url('fonts/roboto/roboto-regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'robotobold';
    src: url('fonts/roboto/roboto-bold.eot');
    src: url('fonts/roboto/roboto-bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-bold.woff') format('woff'),
    url('fonts/roboto/roboto-bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}


@font-face {
    font-family: 'robotoitalic';
    src: url('fonts/roboto/roboto-italic.eot');
    src: url('fonts/roboto/roboto-italic.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-italic.woff') format('woff'),
    url('fonts/roboto/roboto-italic.ttf') format('truetype');
    font-weight: normal;

}



@font-face {
    font-family: 'roboto_medium';
    src: url('fonts/roboto/roboto-medium.eot');
    src: url('fonts/roboto/roboto-medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-medium.woff') format('woff'),
    url('fonts/roboto/roboto-medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'roboto_ltbold_italic';
    src: url('fonts/roboto/roboto-mediumitalic.eot');
    src: url('fonts/roboto/roboto-mediumitalic.eot?#iefix') format('embedded-opentype'),
    url('fonts/roboto/roboto-mediumitalic.woff') format('woff'),
    url('fonts/roboto/roboto-mediumitalic.ttf') format('truetype');
    font-weight: bold;

}
