
@font-face {
    font-family: 'GentiumPlus-i';
    src: url('../fonts/gentuim/gentiumplus-i.eot');
    src: url('../fonts/gentuim/gentiumplus-i.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gentuim/gentiumplus-i.woff') format('woff'),
         url('../fonts/gentuim/gentiumplus-i.ttf') format('truetype');
    font-weight: normal;
}


@font-face {
    font-family: 'GentiumPlus-r';
    src: url('../fonts/gentuim/gentiumplus-r.eot');
    src: url('../fonts/gentuim/gentiumplus-r.eot?#iefix') format('embedded-opentype'),
         url('../fonts/gentuim/gentiumplus-r.woff') format('woff'),
         url('../fonts/gentuim/gentiumplus-r.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}